.button {
    background-color: #008CBA;
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
  }


  .button2 {
    background-color: #008CBA;
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
  }

  body {
    font-family: Arial;

    background: #d4d107;
  }

  .header {
    padding: 30px;
    text-align: center;
    font-family: Arial;
    background: skyblue;
  }

  .header h1 {
    font-size: 30px;
  }

  .reg {
    padding: 2px;
    text-align: left;
    background: blueviolet;
  }

  .header h2 {
    font-size: 20px;
  }